
@{
    ViewBag.Title = "FormRegister";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Register</h2>
@{
    Html.BeginForm("Register", "Register", FormMethod.Get);
    <table class="table table-bordered">
        <tr>
            <td>@Html.Label("Tên đơn vị tuyển") </td>
            <td>@Html.TextBox("txtUNameUnit") </td>
        </tr>
        <tr>
            <td>@Html.Label("Loại hình doanh nghiệp")</td>
            <td>
                @Html.DropDownList("LoaiHinh", new SelectList(ViewBag.listUnit, "ID", "TenLoaiHinh"))
            </td>
        </tr>
        <tr>
            <td>@Html.Label("Số lượng nhân viên")</td>
            <td>@Html.TextBox("txtQuantity")</td>
        </tr>
        <tr>
            <td>@Html.Label("Địa chỉ")</td>
            <td>@Html.TextArea("txtAddresses")</td>
        </tr>
        <tr>
            <td>@Html.Label("Người liên hệ")</td>
            <td>@Html.TextBox("txtContact")</td>
        </tr>
        <tr>
            <td>@Html.Label("Số điện thoại")</td>
            <td>@Html.TextBox("txtPhone")</td>
        </tr>
        <tr>
            <td>@Html.Label("Số Fax")</td>
            <td>@Html.TextBox("txtFax")</td>
        </tr>
        <tr>
            <td>@Html.Label("Email")</td>
            <td>@Html.TextBox("txtEmail")</td>
        </tr>
        <tr>
            <td>@Html.Label("Địa chỉ website")</td>
            <td>@Html.TextBox("txtAddressesWS")</td>
        </tr>
        <tr>
            <td>@Html.Label("Tên đăng nhập")</td>
            <td>@Html.TextBox("FName")</td>
        </tr>
        <tr>
            <td>@Html.Label("Mật khẩu")</td>
            <td>@Html.Password("txtPass")</td>
        </tr>
        <tr>
            <td>@Html.Label("Nhận thư điện tử")</td>
            <td>
                @Html.RadioButton("txtReceive", "Nhận", true) Nhận
                @Html.RadioButton("txtReceive", "Không nhận") Không nhận
            </td>
        </tr>
    </table>
    <input type="submit" value="Cập nhập" />
    <input type="submit" value="Hủy bỏ" />
    Html.EndForm();
}
